In [38]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [39]:
#Total number of players
player_count = purchase_data['SN'].count()
player_count
pd.DataFrame([player_count], columns = ["Total Players"])

   Total Players
0            780

In [40]:
#Number of Unique Items
unique_items = len(purchase_data['Item Name'].unique())
unique_items
pd.DataFrame([unique_items], columns = ["Number of Unique Items"])

   Number of Unique Items
0                     179

In [41]:
#Average Purchase Price
avg_price = purchase_data['Price'].mean()
avg_price ="${:,.2f}".format(3.050987179487176)
avg_price
pd.DataFrame([avg_price], columns = ["Average Purchase Price"])

  Average Purchase Price
0                  $3.05

In [42]:
#Total # of Purchases
total_purchases = purchase_data['Purchase ID'].count()
total_purchases
pd.DataFrame([total_purchases], columns = ["Total Number of Purchases"])

   Total Number of Purchases
0                        780

In [43]:
#Total Revenue
total_revenue = purchase_data['Price'].sum()
total_revenue ="${:,.2f}".format(2379.77)
total_revenue
pd.DataFrame([total_revenue], columns = ["Total Revenue"])

  Total Revenue
0     $2,379.77

In [55]:
#Purchase Analysis Summary Table
#pd.concat([player_count,unique_items,avg_price,total_purchases,total_revenue])
#.rename(columns={'Total Players':'Number of Unique Items',:'Average Purchase Price':'Total Number of Purchases':'Total Revenue'})], ignore_index=True)
summary_df = pd.DataFrame({'Total Players': [player_count],'Number of Unique Items':[unique_items], 'Average Purchase Price':[avg_price], 'Total Number of Purchases':[total_purchases],'Total Revenue':[total_revenue] })
summary_df

,Total Players,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,780,179,$3.05,780,"$2,379.77"

In [63]:
#Percentage and Count of Players
#Count
gender_count = purchase_data['Gender'].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [74]:
#male count
male_count = purchase_data['Gender'].value_counts()['Male']
male_count

652

In [78]:
#male percent
male_percent = male_count/player_count*100
male_percent

83.58974358974359

In [79]:
#female count
female_count = purchase_data['Gender'].value_counts()['Female']
female_count

113

In [80]:
#female percent
female_percent = female_count/player_count*100
female_percent

14.487179487179489

In [82]:
#other count
other_count = purchase_data['Gender'].value_counts()['Other / Non-Disclosed']
other_count

15

In [83]:
#other percent
other_percent = other_count/player_count*100
other_percent

1.9230769230769231

In [85]:
#Gender Summary
gender_summary = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Total Count": [male_count, female_count, other_count], "Total Percentage": [male_percent, female_percent, other_percent]}, columns = ["Gender", "Total Count", "Total Percentage"])
gender_summary = gender_summary.set_index("Gender")
gender_summary.style.format({"Total Percentage": "{:.2f}%"})

In [103]:
#Gender Purchase Analysis
#Purchase Count
gender_groups = purchase_data.groupby(['Gender'])
purchase_count = gender_groups.count()["Price"]

#Average Purchase Price
avg_pur_count = gender_groups.mean()["Price"]

#Total Purchase Value
total_pur_value = gender_groups.sum()["Price"]

#Normalized Totals
norm_total = total_pur_value/purchase_count

pur_analysis = pd.DataFrame({
    
    "Purchase Count": purchase_count,
    'Average Purchase Price': avg_pur_count,
    'Total Purchase value': total_pur_value,
    'Normalised totals': norm_total
})

pur_analysis
pur_analysis.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value":"${:,.2f}", "Normalised Totals":"${:,.2f}"})

In [106]:
# Create the names for the bins
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
age_df = pd.DataFrame(purchase_data)

# Cut age and place the scores into bins
age_df["Age Range"] = pd.cut(age_df["Age"], 8, labels=group_names)
               
age_groups = purchase_data.groupby(['Age Range'])

#Purchase Count
purchase_count = age_groups.count()["Price"]

#Average Purchase Price
avg_pur_count = age_groups.mean()["Price"]

#Total Purchase Value
total_pur_value = age_groups.sum()["Price"]

#Normalized Totals
norm_total = total_pur_value/purchase_count

pur_analysis = pd.DataFrame({
    
    "Purchase count": purchase_count,
    'Average Purchase Price': avg_pur_count,
    'Total Purchase value': total_pur_value,
    'Normalised Totals': norm_total
})

#printing data
pur_analysis.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value":"${:.2f}", "Normalised Totals":"${:.2f}"})

In [108]:
#Top Spenders
#SN
SN_groups = purchase_data.groupby(['SN'])

#Purchase Count
purchase_count = SN_groups.count()["Price"]

#Average Purchase Price
avg_pur_count = SN_groups.mean()["Price"]

#Total Purchase Value
total_pur_value = SN_groups.sum()["Price"]

pur_analysis = pd.DataFrame({
    
    "Purchase Count": purchase_count,
    'Average Purchase Price': avg_pur_count,
    'Total Purchase Value': total_pur_value,
})

#Sort in descending order to get top 5 spenders
pur_analysis_sorted = pur_analysis.sort_values('Total Purchase Value', ascending=False).head()
pur_analysis_sorted.style.format({"Average Purchase Price": "${:.2f}","Purchase Count": "${:.2f}", "Total Purchase Value": "${:.2f}"})
pur_analysis_sorted.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [110]:
#popular items
merge1 = purchase_data.groupby("Item Name").sum().reset_index()
merge2 = purchase_data.groupby("Item ID").sum().reset_index()
merge3 = purchase_data.groupby("Item Name").count().reset_index()

#merge dataframes
merge_df1 = pd.merge(merge1, merge2, on="Price")
merge_df2 = pd.merge(merge3, merge_df1, on="Item Name")

#start to create final dataframe by manipulating data
merge_df2["Gender"] = (merge_df2["Price_y"]/merge_df2["Item ID"]).round(2)

merge_df2_renamed = merge_df2.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

#Including columns needed for the dataframe
clean_df = merge_df2_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

df2 = clean_df.set_index(['Item ID','Item Name'])
popular_items = df2.sort_values('Purchase Count', ascending=False).head()
popular_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [111]:
#Most Profitable items
profit_items = df2.sort_values('Total Purchase Value', ascending=False).head()
profit_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})